html{
    font-family: serif;
    background: #889696;
    margin: 0;
    overflow-x: hidden;
}

/* css for welcome page */
.welcome-page{
    display: flex;
}
.welcome-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; 
    margin: 20px;
}
.next-button {
    margin-top: 30px;
    padding: 15px 20px;
    text-decoration: none;
    background-color: #5f7470;
    color: #b8bdb5;
    margin: 5px 5px;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 900;
    font-style: oblique;
}
.next-button:hover {
    background-color: #b8bdb5;
    color: #5f7470;
}
.home-page{
    display: flex;
}

/* css for sidebar on each page */
.sidebar{
    width: 120px;
    height: 55vh;
    display: flex;
    flex-direction: column;
    padding-top: 0px;
    justify-content: space-evenly;
    border-radius: 3px;
    font-family: "Overlock", cursive;
    font-size: 16px;
}
.sidebar-item {
    padding: 15px 20px;
    text-decoration: none;
    color: #6e7e7e;
    margin: 5px 5px;
    border-radius: 3px;
    font-weight: 900;
    font-style: oblique;
}
.sidebar-item:hover {
    background-color: #b8bdb5;
    color: #5f7470;
}
.selected-item {
    padding: 15px 20px;
    text-decoration: none;
    color: #5f7470;
    background-color: #b8bdb5;
    margin: 5px 5px;
    border-radius: 3px;
    font-weight: 900;
    font-style: oblique;
}

/* css for content on home page */
.mini-profiles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    margin-left: 0px;    
    justify-content: space-evenly;
}
.mini {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.individuals {
    text-align: center;
}
.individuals img {
    margin: 0;
    padding: 0;
    display: block;
    max-width: 300px;
    max-height: 300px;
    margin-left: 90px;
}
.individual-details {
    display: inline-block;
    color: black;
    border: 2px solid black;
    text-align: center;
    padding: 5px;
    width: 250px;
    margin: 10px auto 0;
    margin-left: 110px;
}

/* css for image, short description & spotify on each profile page */
.profile{
    display: flex;
}
.image-description {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 100%; 
    height: 100vh;
    max-height: 400px;
    margin: 0 20px;
    overflow: hidden;
}
.bio1{
    align-items: flex-start;
}
.bio2{
    display: inline-block;
    color: black;
    border: 2px solid black;
    text-align: center;
    padding: 5px;
    width: 50vw;
    height: 380px;
    margin-left: 20px;
    margin-top: 5px;
    font-size: 25px;
}


/* css for sub buttons on each profile page */
.sub-buttons{
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
}
.border-box{
    padding: 10px 10px;
    border-image: var(--border-gradient);
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    animation: lightSpeedInLeft;
    animation-duration: 2s;
    border-color: #b8bdb5;
}
.sub-buttons a{
    margin: 20px 0;
    color: #5f7470;
    background-color: #b8bdb5;
    text-decoration: none;
    width: 200px;
    text-align: center;
    font-family: "Lora", cursive;
    font-size: 25px;
}
.sub-buttons a:hover{
    text-decoration: underline;
}
.sub-buttons iframe{
    justify-content: center;
    margin-top: 10px;
    animation: bounceInDown;
    animation-duration: 2s;
}


/* code to flip image when tapping */
.category {
    margin-bottom: 40px;
    width: 100%;
    max-width: 1000px;
    font-size: 30px;
}
.category h2 {
    text-align: center;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    margin-left: 150px;
    justify-content: space-evenly;
}
.flip-container {
    perspective: 1000px;
}
.flipper {
    position: relative;
    width: 300px;
    height: 400px;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}
.flipper img, .flipper .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border: 2px solid #6e7e7e;
    box-shadow: 10px 4px 8px rgba(0, 0, 0, 0.1);
}
.front {
    transform: rotateY(0deg);
}
.back {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #889696;
    color: whitesmoke;
    transform: rotateY(180deg);
    padding: 20px;
    box-sizing: border-box;
}
.flip-container.flip .flipper {
    transform: rotateY(180deg);
}


/* css for back to top button */
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #b8bdb5;
    color: #5f7470;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: width 0.3s ease;
    overflow: hidden;
    white-space: nowrap;
    font-family: "Libre Franklin", sans-serif;
}
.back-to-top .arrow {
    font-size: 20px;
}
.back-to-top .text {
    margin-left: 10px;
    font-size: 16px;
    display: none;
}
.back-to-top:hover {
    width: 150px;
}
.back-to-top:hover .text {
    display: inline;
}

@media (max-width: 767px) {
    .mini-profiles {
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }
    .image-description {
        flex-direction: column;
        align-items: center;
        height: auto;
        max-height: none;
    }
    .bio2 {
        width: 100%;
        max-width: 70vw;
        margin-left: 0;
    }
    .sub-buttons {
        flex-direction: column;
        align-items: center;
    }
    .sub-buttons a {
        width: 200px;
    }
    .sub-buttons iframe {
        width: 60%;
    }
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        margin-left: 60px;
    }
}