html{
    font-family: serif;
    background: #889696;
    margin: 0;
}

.welcome-page{
    display: flex;
    align-items: center;
}
.home-page{
    display: flex;
    align-items: center;
}
.sidebar{
    width: 120px;
    height: 55vh;
    background-color:#889696;
    display: flex;
    flex-direction: column;
    padding-top: 0px;
    justify-content: space-evenly;
    border-radius: 3px;
    font-family: "Overlock", cursive;
    font-size: 16px;
}
.sidebar-item {
    padding: 15px 20px;
    text-decoration: none;
    color: #6e7e7e;
    margin: 5px 5px;
    border-radius: 3px;
    font-weight: 900;
    font-style: oblique;
}

.sidebar-item:hover {
    background-color: #b8bdb5;
    color: #5f7470;
}

.selected-item {
    padding: 15px 20px;
    text-decoration: none;
    color: #5f7470;
    background-color: #b8bdb5;
    margin: 5px 5px;
    border-radius: 3px;
    font-weight: 900;
    font-style: oblique;
}

.welcome-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.individuals {
    text-align: center;
}
.individuals img {
    margin: 0;
    padding: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.individual-details {
    display: inline-block;
    color: black;
    border: 2px solid black;
    text-align: center;
    padding: 5px;
    width: 250px;
    margin: -4px auto 0; /* Negative top margin to close the gap */
}
